<!DOCTYPE html>
<html>
<head>
  <title>TvRefs - The Reference For TV Shows References</title>
  <link rel="stylesheet" type="text/css" media="screen" href="main.css"/>
  <meta charset="utf8">
</head>
<body>
<header>
  <div id="siteTitle">
    <span class="title">TV</span><span class="subTitle">refs</span>
    <span id="userSpace">
      <img id="profilePic" src="src/yeetGang.png" alt="yeet Gang"/>
      <ul>
      <li id="username">Achozeno <a href="#">(see profile)</a></li>
      <li id="level">Level 1 : 56% done</li>
      <li id="points">156 refs 🎬</li>
      <li id="settings"><a href="#">User settings</a></li>
      <li id="logout"><a href="#">Log out</a></li>
    </ul>
  </span>
  </div>
  <nav id="menu">
    <ul>
      <li><a href="#">Movies (coming soon)</a></li>
      <li><a href="#">Series</a></li>
      <li><a href="#">New</a></li>
      <li><a href="#">Top 10</a></li>
    </ul>
  </nav>
</header>
<div id="wrapper">
  <div id="mainContent">
    <section id="popular">
      <h1>Most Popular</h1>
    </section>
  </div>
  <div id="sideContent">
    <section id="recent">
      <h1>Recent replies</h1>
      yes this is it
    </section>
  </div>
</div>
</body>
</html>